<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongdong.dao.fourDataSource.FourUserDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.rongdong.model.fourDataSource.FourUserDetails" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="income_form" property="incomeForm" jdbcType="VARCHAR" />
    <result column="monthly_income" property="monthlyIncome" jdbcType="REAL" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="working_time" property="workingTime" jdbcType="VARCHAR" />
    <result column="fund" property="fund" jdbcType="INTEGER" />
    <result column="social_security" property="socialSecurity" jdbcType="INTEGER" />
    <result column="is_married" property="isMarried" jdbcType="VARCHAR" />
    <result column="academic" property="academic" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="priResultMap" type="com.rongdong.model.priDataSource.UserDetails" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="income_form" property="incomeForm" jdbcType="VARCHAR" />
    <result column="monthly_income" property="monthlyIncome" jdbcType="REAL" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="working_time" property="workingTime" jdbcType="VARCHAR" />
    <result column="fund" property="fund" jdbcType="INTEGER" />
    <result column="social_security" property="socialSecurity" jdbcType="INTEGER" />
    <result column="is_married" property="isMarried" jdbcType="VARCHAR" />
    <result column="academic" property="academic" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, user_id, occupation, income_form, monthly_income, company_type, working_time, 
    fund, social_security, is_married, academic, create_time, update_time, is_deleted
  </sql>

  <sql id="Query_UserDetails_Where">
    <where>
      is_deleted = 0
      <if test="id != null and id != ''">
        AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="userId != null and userId != ''">
        AND user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="occupation != null and occupation != ''">
        AND occupation = #{occupation,jdbcType=VARCHAR}
      </if>
      <if test="incomeForm != null and incomeForm != ''">
        AND income_form = #{incomeForm,jdbcType=VARCHAR}
      </if>
      <if test="monthlyIncome != null">
        AND monthly_income = #{monthlyIncome,jdbcType=REAL}
      </if>
      <if test="companyType != null and companyType != ''">
        AND company_type = #{companyType,jdbcType=VARCHAR}
      </if>
      <if test="workingTime != null and workingTime != ''">
        AND working_time = #{workingTime,jdbcType=VARCHAR}
      </if>
      <if test="fund != null">
        AND fund = #{fund,jdbcType=INTEGER}
      </if>
      <if test="socialSecurity != null">
        AND social_security = #{socialSecurity,jdbcType=INTEGER}
      </if>
      <if test="isMarried != null and isMarried != ''">
        AND is_married = #{isMarried,jdbcType=VARCHAR}
      </if>
      <if test="academic != null and academic != ''">
        AND academic = #{academic,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <select id="findUserDetailsList" parameterType="com.rongdong.model.priDataSource.UserDetails" resultMap="priResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user_details
    <include refid="Query_UserDetails_Where"/>
    ORDER BY create_time DESC
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_details
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_details
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rongdong.model.fourDataSource.FourUserDetails" >
    insert into user_details (id, user_id, occupation, 
      income_form, monthly_income, company_type, 
      working_time, fund, social_security, 
      is_married, academic, create_time, 
      update_time, is_deleted)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, 
      #{incomeForm,jdbcType=VARCHAR}, #{monthlyIncome,jdbcType=REAL}, #{companyType,jdbcType=VARCHAR}, 
      #{workingTime,jdbcType=VARCHAR}, #{fund,jdbcType=INTEGER}, #{socialSecurity,jdbcType=INTEGER}, 
      #{isMarried,jdbcType=VARCHAR}, #{academic,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rongdong.model.fourDataSource.FourUserDetails" >
    insert into user_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="occupation != null" >
        occupation,
      </if>
      <if test="incomeForm != null" >
        income_form,
      </if>
      <if test="monthlyIncome != null" >
        monthly_income,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="workingTime != null" >
        working_time,
      </if>
      <if test="fund != null" >
        fund,
      </if>
      <if test="socialSecurity != null" >
        social_security,
      </if>
      <if test="isMarried != null" >
        is_married,
      </if>
      <if test="academic != null" >
        academic,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="incomeForm != null" >
        #{incomeForm,jdbcType=VARCHAR},
      </if>
      <if test="monthlyIncome != null" >
        #{monthlyIncome,jdbcType=REAL},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="workingTime != null" >
        #{workingTime,jdbcType=VARCHAR},
      </if>
      <if test="fund != null" >
        #{fund,jdbcType=INTEGER},
      </if>
      <if test="socialSecurity != null" >
        #{socialSecurity,jdbcType=INTEGER},
      </if>
      <if test="isMarried != null" >
        #{isMarried,jdbcType=VARCHAR},
      </if>
      <if test="academic != null" >
        #{academic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongdong.model.fourDataSource.FourUserDetails" >
    update user_details
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="incomeForm != null" >
        income_form = #{incomeForm,jdbcType=VARCHAR},
      </if>
      <if test="monthlyIncome != null" >
        monthly_income = #{monthlyIncome,jdbcType=REAL},
      </if>
      <if test="companyType != null" >
        company_type = #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="workingTime != null" >
        working_time = #{workingTime,jdbcType=VARCHAR},
      </if>
      <if test="fund != null" >
        fund = #{fund,jdbcType=INTEGER},
      </if>
      <if test="socialSecurity != null" >
        social_security = #{socialSecurity,jdbcType=INTEGER},
      </if>
      <if test="isMarried != null" >
        is_married = #{isMarried,jdbcType=VARCHAR},
      </if>
      <if test="academic != null" >
        academic = #{academic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongdong.model.fourDataSource.FourUserDetails" >
    update user_details
    set user_id = #{userId,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      income_form = #{incomeForm,jdbcType=VARCHAR},
      monthly_income = #{monthlyIncome,jdbcType=REAL},
      company_type = #{companyType,jdbcType=VARCHAR},
      working_time = #{workingTime,jdbcType=VARCHAR},
      fund = #{fund,jdbcType=INTEGER},
      social_security = #{socialSecurity,jdbcType=INTEGER},
      is_married = #{isMarried,jdbcType=VARCHAR},
      academic = #{academic,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>